.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.buttonContainer{
  width: 20em;
  /* border: solid red; */
  display: flex;
  justify-content: space-between;
  
}
.buttonContainer button{
  border: 1px solid orange;
  border-bottom: none;
  margin:0;
  background-color: transparent;
  font-size: 100%;
  /* border-radius: 3px; */
  cursor: pointer;
  color: orange;
  transition: all 0.3s ease-in-out;
  outline: none;
}
input[type="button"]{
  outline:none;
}
.buttonContainer button:hover{
  background-color: orange;
  transition: all 0.3s ease-in-out;
  color: #282c34;
}
.buttonContainer span{
  background-color: orange;
  color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;;
}
/* .red{
  background: red;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
